.movieGrid {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xl) var(--space-lg);
  gap: var(--space-2xl);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.gridTitle {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-size-3xl);
  font-weight: 700;
  color: var(--text-color);
}

.icon {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--space-lg) var(--space-sm);
}


.emptyContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--space-lg) var(--space-sm);
}

/* Responsive adjustments */
@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .movieGrid {
    border-radius: 0;
    padding: var(--space-xl) var(--space-sm);
  }
}

@media (max-width: 480px) {}