.movieGrid {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-3xl);
  gap: var(--space-sm) 0;
  background-color: var(--background-color);
}

.gridTitle {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-size-3xl);
  font-weight: 700;
  color: var(--text-color);
}

.icon {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--space-md);
  justify-items: center;
}


@media (max-width: 992px) {
  .grid{
    justify-content: center;
  }
}

@media (max-width: 768px) {}