.infoSection {
  height: 92vh;
  position: relative;
  z-index: 1;
}

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: var(--space-2xl) var(--space-lg);
  background-color: rgba(41, 41, 41, 0.891);
}

.content img {
  width: 20%;
  object-fit: contain;
  margin-bottom: var(--space-lg);
  border-radius: var(--border-radius);
}

.posterContainer {
  width: 20%;
  object-fit: contain;
  margin-bottom: var(--space-lg);
  border-radius: var(--border-radius);
}

.posterContainer img {
  width: 100%;
  height: 100%;
}

.movieButtons {
  display: flex;
  gap: var(--space-xs);
}

.favoriteButton,
.watchLaterButton {
  width: 50%;
  height: 50px;
  border-radius: var(--border-radius);
  font-size: var(--font-size-3xl);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
    background-color: black;
  color: white;
  opacity: 50%;
}

.favoriteButton.added{
  background-color: rgb(255, 0, 43);
  color: white;
  opacity: 100%;
}

.watchLaterButton.added{
  background-color: var(--accent-color);
  color: white;
  opacity: 100%;
}

.movieInfo {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-3xl);
  margin-bottom: var(--space-2xl);
}

.movieGenres {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.genre {
  padding: var(--space-xs);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.overview {
  margin-bottom: var(--space-lg);
}

.movieDetails {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

/* Responsive Design */
@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .infoSection {
    height: auto;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .posterContainer {
    width: 100%;
  }

  .movieInfo {
    width: 100%;
  }
}

@media (max-width: 480px) {}