.movieDetailPage {
  height: auto;
  width: 100%;
  margin-top: 8vh;
  position: relative;
}

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: var(--space-2xl) var(--space-lg);
  background-color: rgba(31, 31, 31, 0.9);
}

.content img {
  width: 20%;
}

.movieInfo {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: var(--font-size-3xl);
  margin-bottom: var(--space-2xl);
}
.movieGenres {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  margin-bottom: var(--space-lg);
}
.genre {
  padding: var(--space-sm);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.overview {
  margin-bottom: var(--space-lg);
}
.movieDetails {
  display: flex;
  flex-direction: column;
}

/* Responsive Design */
@media (max-width: 1024px) {
  /* Tablet styles */
  .content {
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content img{
    width: 50%;
    margin-bottom: var(--space-2xl);
  }
  .movieInfo{
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* Mobile styles */
  .content {
    flex-direction: column;
  }
  .content img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  /* Small mobile styles */
}
