.searchPage {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-lg) var(--space-3xl);
  background-color: var(--background-color);
}

.searchForm {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  gap: var(--space-md);
}

.searchInput {
  width: 50%;
  background-color: var(--background-color-light);
  padding: var(--space-sm) var(--space-lg);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  color: var(--text-light-color);
}

.selects {
  width: 50%;
  display: flex;
  gap: var(--space-md);
}

.select {
  height: 100%;
  width: 30%;
  background-color: var(--background-color-light);
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-light-color);
  padding: var(--space-sm) var(--space-lg);
}

select:focus {
  outline: none;
}



.searchInput:focus {
  outline: none;
}

@media (max-width: 992px) {
  .searchPage {
    padding: var(--space-lg) var(--space-lg);
  }
}

@media (max-width: 768px) {
  .searchForm {
    height: 16vh;
    width: 100%;
    flex-direction: column;
  }
  .searchInput{
    width: 100%;
  }
  .selects{
    width: 100%;
  }
  .select{
    width: 100%;
  }
}

@media (max-width: 480px) {
}

/*.searchPage {
  margin-top: 8vh;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-md) var(--space-3xl);
  gap: var(--space-md);
  background-color: var(--background-color);
}

.searchContainer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  border: 2px solid var(--background-color-light);
  border-radius: var(--border-radius);
}

.searchContainer input {
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  font-size: var(--font-size-xl);
  color: var(--text-color-light);
}

.searchContainer input:focus {
  outline: none;
}

.selectContainer {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.select {
  height: 100%;
  width: 20%;
  border: 2px solid var(--background-color-light);
  border-radius: var(--border-radius);
}


@media (max-width: 1024px) {
  .searchPage {
    padding: var(--space-md);
  }

  .select {
    width: 30%;
  }
}

@media (max-width: 768px) {


  .selectContainer,
  .searchContainer {
    padding: 0 var(--space-sm);
  }

  .select {
    width: 45%;
  }
}

@media (max-width: 480px) {}
*/