.searchPage {
  margin-top: 8vh;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-lg);
  gap: var(--space-lg);
  background-color: var(--background-color-light);
}

.searchContainer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  gap: var(--space-sm);

}

.searchContainer input {
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  font-size: var(--font-size-xl);
  color: var(--text-color-light);
}

.searchContainer input:focus {
  outline: none;
}

.selectContainer {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.select {
  height: 100%;
  width: 20%;
}


/* Responsive Design */
@media (max-width: 1024px) {
  .searchPage {
    padding: var(--space-md);
  }

  .select {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .searchPage {
    padding-left: 0;
    padding-right: 0;
  }

  .selectContainer, .searchContainer{
    padding: 0 var(--space-sm);
  }

  .select {
    width: 45%;
  }
}

@media (max-width: 480px) {}