.movieCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  border-radius: var(--radius-lg);
  overflow: hidden;
  cursor: pointer;
}

.poster {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit:cover;
}

.title {
  padding: var(--space);
}

.movieCardOverlay {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.movieCardOverlay .playIcon{
  font-size: 3rem;
  border-radius: 200px;
  padding: 1rem;
  border: 2px solid white;
}

.cardButtons {
  height: 0%;
  display: flex;
  background-color: var(--background-color-dark);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.cardButtons button {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

.movieCard:hover{
  .movieCardOverlay{
    opacity: 90%;
  }
}

/* Responsive Sizes */
@media (max-width: 768px) {
  .movieCard {
    width: 150px;
  }

  .title {
    padding: var(--space-sm);
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 480px) {
  .movieCard {
    width: 150px;
  }

  .title {
    padding: var(--space-xs);
    font-size: var(--font-size-xs);
  }
}