.movieCreditSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-3xl);
}

.directorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: var(--space-sm);
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
}

.directorContainer h3 {
  text-align: left;
  font-size: var(--font-size-2xl);
  margin-bottom: var(--space-md);
}

.directorContainer img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: var(--space-sm);
}

.castContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.castContainer h3 {
  text-align: left;
  margin-right: auto;
  font-size: var(--font-size-2xl);
  margin-bottom: var(--space-md);
}

.castList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: var(--space-lg);
}

.castMemberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-right: auto;
  padding: var(--space-sm);
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
}

.castContainer img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: var(--space-sm);
}

.castMemberName,
.castMemberCharacter,
.directorName {
  font-size: var(--font-size-md);
  text-align: center;
}

.castMemberCharacter {
  opacity: 40%;
  font-size: var(--font-size-sm);
}

.castMemberContainer:hover,
.directorContainer:hover {
  background-color: var(--background-color-light);
  cursor: pointer;
}