.navBar {
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 var(--space-lg);
  background-color: var(--background-color-dark);
}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
  font-size: var(--font-size-xl);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logoFilm{
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 2px 0 5px;
  background-color: var(--accent-color);
  border-radius: 0 0 0 var(--border-radius);
}

.logoBox{
  padding: 2px 20px 0 0;
  background-color: white;
  border-radius: 0 var(--border-radius) 0 0;
  color: var(--accent-color);
}

.logo:hover {
  color: var(--text-color-light);
  transform: scale(1.05);
  
}

.navBarLinks {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  background-color: transparent;
}

.navBarLink {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navBarLinks a {
  color: var(--text-color-light);
  text-decoration: none;
  font-size: var(--font-size-md);
  transition: color 0.3s ease;
}

.navBarLinks a:hover {
  color: var(--accent-color);
}

.searchBarContainer{
  width: 20%;
  height: 60%;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);

  background-color: var(--background-color-light);
}
.searchBarIcon{
  width: 20%;
}
.searchBarContainer input{
  width: 100%;
  height: 100%;
  border: none;
  color: var(--text-color-light);
  background-color: transparent;
}
.searchBarContainer input:focus{
  outline: none;
}


/* Responsive Design */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .navBar {
    justify-content: space-between;
  }
  .logo,
  .searchBarContainer {
    width: 40%;
  }
  .navBarLinks {
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--background-color);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 12px rgba(33, 33, 33, 0.5);
  }
  .navBarLink{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 480px) {
  /* Small mobile styles */
}
