.movieListsPage{
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-3xl);
  gap: var(--space-lg);
  background-color: var(--background-color);
}


@media (max-width: 992px) {
  .movieListsPage{
    padding: 0 var(--space-lg);
  }
}

@media (max-width: 768px) {}