.homePage {
  margin-top: 7vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
}



@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}